<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page!</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение">
        <input type="text" name="tag" placeholder="Tag">
        <button type="submit">Добавить</button>
    </form>
</div>

<div>Список сообщений</div>
<div th:each="massage : ${massages}">
    <p> TAG: <b th:text="${massage.tag}"/>
        TEXT: <b th:text="${massage.text}"/>
    </p>
</div>

</body>
</html>